ADMIN_LOGIN=your_admin_login
ADMIN_PASSWORD=your_admin_password
CHECK_LOGIN=check_login
CHECK_PASSWORD=check_password
TEACHER_LOGIN=your_teacher_login
TEACHER_PASSWORD=your_teacher_password
ISFT_LOGIN=lms_user
ISFT_PASSWORD=lms_user_pass
ISFT_BASE_URL=http://localhost:8040