ADMIN_LOGIN=your_admin_login
ADMIN_PASSWORD=your_admin_password
APPROVER_LOGIN=approver_login
APPROVER_PASSWORD=approver_password
TEACHER_LOGIN=your_teacher_login
TEACHER_PASSWORD=your_teacher_password